/__pycache__
/PREV-VERSION/__pycache__
/virtualenvironment
/vir_env
/PythonFiles/__pycache__
*.pyc
*.pyc
PythonFiles/TestFrames/__pycache__/Test1.cpython-39.pyc
PythonFiles/TestFrames/__pycache__/Test2.cpython-39.pyc
PythonFiles/TestFrames/__pycache__/Test3.cpython-39.pyc
PythonFiles/TestFrames/__pycache__/Test4.cpython-39.pyc
PythonFiles/__pycache__/TestInProgressScene.cpython-39.pyc
PythonFiles/__pycache__/ScanScene.cpython-39.pyc
PythonFiles/__pycache__/LoginScene.cpython-39.pyc
PythonFiles/__pycache__/GUIWindow.cpython-39.pyc
